<div class="heading">
  <h1>Chap App</h1>
  <label
    >Enter you handle/name:
    <input type="text" [(ngModel)]="handle" (change)="saveHandle(handle)" />
  </label>
  <label>
    Pick a color for you posts:
    <input type="color" [(ngModel)]="color" (change)="saveColor(color)" />
  </label>
</div>
<hr />

@for (item of dataSvc.items$ | async; track $index){
<div class="message" [style.color]="item.color">
  <span class="timestamp">{{ item.timestamp.toDate() | date : "medium" }}</span>
  <span class="user-name">{{ item.userName }}</span>
  <span class="message">{{ item.message }}</span>
</div>
}

<div class="msg-enter">
  <label
    >Enter a Message:
    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="storeMessage()"
  /></label>
</div>
